/* CSS for sky theme end*/
/*
css for login start
/*  #156DA9 blue
    #00BCD4
    #6FD653 bhover
    #F6F6F6 */

body{
    margin: 0;
    padding: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a18cd1));
 	 background: -webkit-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
 	 background: -moz-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
 	 background: -o-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
  	background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   

}
.login-box .name{
  width: 125px;
  color: #555;
  font-size: 15px;
  font-weight: 700;
}
  .login-box .name,
  .login-box .value {
    display: block;
    width: 100%;
  }
  .login-box .name {
    margin-bottom: 2px;
  }
.login-box{
	margin: 0;
    padding: 0;
    width: 800px;
    height: 800px;
    background: #ffffff;
    padding: 60px 0px;
    border-radius: 15px;
    text-align: center;
    border: 2px solid #6FD653;
    -webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);

}

.login-box h1{
   margin: 0;
    padding: 0;
    font-weight: 500;
    color: #00BCD4;

}

.login-box input[type="text"],
.login-box input[type="password"]{
    width: 60%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"]{
    border-radius: 30px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #00BCD4;
    font-size: 13px;
    height: 40px;
    text-align: center;
    transition: 0.27s;
}
.login-box input[type="text"]:focus,
.login-box input[type="password"]:focus{
width: 80%;
border-color:#6fd653;
}

.login-box button[type="button"]{
    width: 100px;
    border: none;
    outline: none;
    background: #156DA9;
    padding: 6px 6px;
    border-radius: 30px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    margin: 2px;
}

.login-box button[type="button"]:hover{
    background:#6FD653;
   transition: .2s;
}

.login-box button[type="button"]:focus{
    transform: scaleX(1.1);
}
.login-box a[type="button"]{
    width: 40%;
    border: none;
    outline: none;
    background: #156DA9;
    padding: 10px 52px;
    border-radius: 30px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 20px;
}

.login-box a[type="button"]:hover{
    background:#6FD653;
   transition: .2s;
}



.login-box a {
    text-decoration: none;
    font-size: 12px;
    color: #00bcd4;
}

.login-box a:hover{
    color: #6FD653;
}
btn{
    width: 40%;
    border: none;
    outline: none;
    background: #156DA9;
    padding: 10px 0;
    border-radius: 30px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 20px;
}

btn:hover{
    background:#6FD653;
   transition: .2s;
}

btn:focus{
    transform: scaleX(1.1);
}

/*
css login end
*/
