<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- jQuery library -->
<link href="css/registerForm.css" rel="stylesheet" media="all">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
//확인 버튼을 클릭했을때 공란이면  모든칸은 초기화 된다.
let helperInit = function(){

	$('#categoryHelper').text("");
	$('#pirceHelper').text("");
};
//document(body)가 준비되면 작동된다.
$(document).ready(function(){
document.getElementById('currentDate').value = new Date().toISOString().substring(0, 10);;
	$('#cashBtn').click(function(){	
	if($('#categoryName').val()=="none") {
		helperInit();
		$('#categoryHelper').text("카테고리를 선택하세요.");
		$('#categoryName').focus();		
	}else if ($('#cashPrice').val().length ===0 ){
		helperInit();
		$('#pirceHelper').text("금액을 입력하세요.");
		$('#cashPrice').focus();
	}else {
		$('#addCash').submit();
	}	
	});	
});
</script>
</head> 
<body>
	<div class="box">
	<h1>가계부 추가</h1>        
		<form id="addCash" th:action="@{/addCash}" method="post" >
			<div>
			<div class = "name">종류</div>    		
				<input type="radio" id="radio1" name="cashKind" value = "수입" checked/>
				<label for="radio1">수입</label>
				<input type="radio" id="radio2" name="cashKind" value = "지출" />
				<label for="radio2">지출</label>       	
			</div>
			<div>  		
				<input type="hidden" th:value="${loginMember.memberId}" name="memberId" readonly="readonly">      		
			</div>
			<div>
				<div class = "name">카테고리</div>  
				<select name="categoryName" id = "categoryName" style = "vertical-align: middle; text-align-last: center">
					<option value = "none">카테고리</option>
					<option th:each="i : ${category}" th:value="${i.categoryName}" th:text="${i.categoryName}"></option>
				</select>
				<p>
					<span id = "categoryHelper"></span>
				</p>
			</div>
			<div>
				<div class = "name">금액</div>       		
				<input type="text" name="cashPrice" id = "cashPrice">
				<p>
					<span id = "pirceHelper"></span>
				</p>
			</div>
			<div>
				<div class = "name">장소</div>      		
				<input type="text" name="cashPlace" id = "cashPlace">
			</div>
			<div>
				<div class = "name">메모</div>     		
				<input type="text" name = "cashMemo">
			</div>
			<div>
				<div class = "name">날짜</div>  
				<input type = "date" name="cashDate" id='currentDate'>
			</div>

			
			<div>
				<button type="button" id="cashBtn">작성완료</button>
			</div>            
		</form>
	</div> 	
</body>
</html>