<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- jQuery library -->
<link href="/css/registerForm.css" rel="stylesheet" media="all">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$('#mcashBtn').click(function(){
			$('#modifyForm').submit();			
		});
	});

</script>
</head> 
<body>
	<div class="login-box">
        <h1>정보수정</h1>        
		<form id="modifyForm" action="/addCash" method="post" >
		
		<div>
      		<div class = "name">아이디</div>      		
           <input type="text" th:value="${loginMember.memberId}" name="memberId" readonly="readonly">      		
       </div>
       
       <div>
      		<div class = "name">종류</div>    		
           <input type="radio" id="radio1" name="cashKind" checked/>
			<label for="radio1">수입</label>
			<input type="radio" id="radio2" name="cashKind" />
			<label for="radio2">지출</label>       	
       </div>
<!--  
       <div>
      		<div class = "name">카테고리</div>      		
           <select name = "categoryName">
           	<option selected>카테고리를 선택하세요.</option>
           	<option th:value = "${categoryList.categoryName}">f</option>
           </select>       		
       </div>
-->
       <div>
      		<div class = "name">금액</div>       		
            <input type="text" name="cashPrice">
       		
       </div>
       <div>
      		<div class = "name">장소</div>      		
           <input type="text" name="cashPlace">
       		
       </div>
       <div>
      		<div class = "name">메모</div>     		
           <input type="text" name = "cashMemo">
       </div>
       <div>
			<button type="button" id="cashBtn">작성완료</button>
		</div>            
        </form>
        </div> 	
</body>
</html>