<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link href="/css/registerForm.css" rel="stylesheet" media="all">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
	$(document).ready(function() {
		$('#findBtn').click(function() {
			$('#findForm').submit();
		});
	});
</script>

</head>
<body>
	<div class="login-box">
	<h1>아이디 찾기</h1>
		<form id="findForm" th:action="@{/findMemberId}" method="post">
			<div>
				<div class = "name">member_name:</div>
				<input type="text" name="memberName" id="memberName">
			</div>
			<div>
				<div class = "name">member_phone:</div>
				<input type="text" name="memberPhone" id="memberPhone">
			</div>
			<div>
				<div class = "name">member_email: </div>
				<input type="text" name="memberEmail" id="memberEmail">
			</div>
			<div>
				<button type = "button" id="findBtn">아이디 찾기</button>
			</div>
			<br>
			<div>
				<a type = "button" href = "/index"  >홈으로</a>
			</div>
		</form>
	</div>
</body>
</html>