<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta charset="utf-8">
<link rel="apple-touch-icon" type="image/png" href="https://static.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png" />
<meta name="apple-mobile-web-app-title" content="CodePen">
<link rel="shortcut icon" type="image/x-icon" href="https://static.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico" />
<link rel="mask-icon" type="" href="https://static.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111" />
<link rel="stylesheet" href = "css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<style>
.extable{
	position:absolute;
	top:250px;
	left:200px;
	width:900px;
	height:337px;
	border: 1px;
	
}
table.tableset{
	border: 3px; 
}
th.dateTitle{
	border: 2px solid #D5D5D5;
	width: 800px;
	height: 30px;
	text-align: center;
	background: #EAEAEA;
	font-weight: bolder;
}
td.content{
	border: 2px solid #D5D5D5;
	width: 800px;
	height: 50px;
	text-align: center;
	background: #FFFFFF;
}
div.day{
	text-align: center;
	font-size: 30px;
}
a.insert{
	position:absolute;
	left:841px;
}
</style>
</head>
<body>
<div class="container-fleid">
	<div class="row">
		<div class="col-sm-3">
			<div th:include="/include/menu::sidemenu"></div> 
		</div>
		<div class="col-sm-6">

<div class = "extable">
		<div class = "day" th:text = "${day}"></div>
<div >

	<a class = "left btn btn-primary" th:href="@{/getCashListByDate(day=${day.plusDays(-1)})}">이전</a>
	
	
	<a class = "right btn btn-primary" th:href="@{/getCashListByDate(day=${day.plusDays(+1)})}">다음</a>
	<a class = "insert btn btn-primary" th:href = "@{/addCash}">추가</a>
</div>
<table class = "tableset">
<thead>
<tr >
	<th class = "dateTitle">No</th>
	<th class = "dateTitle">카테고리</th>
	<th class = "dateTitle">수입</th>
	<th class = "dateTitle">지출</th>
	<th class = "dateTitle">장소</th>
	<th class = "dateTitle">메모</th>
	<th class = "dateTitle">삭제</th>
	<th class = "dateTitle">수정</th>	
</tr>
</thead>
<tbody>
<tr th:each="cash, index : ${cashList}">
	<td class = "content" th:text = "${index.index}+1"></td>
	<td class = "content"  th:text = "${cash.categoryName}"></td>
	
	<!-- thymeleaf if~else문 : if/unless -->
	<td class = "content"  th:if="${cash.cashKind} == '수입'" th:text = "${'+' + cash.cashPrice}"></td>
	<td class = "content"  th:unless="${cash.cashKind}=='수입'"></td>
	<!-- 삼황연산자 -->
	<td class = "content"  th:if="${cash.cashKind} == '지출'" th:text = "${'-' + cash.cashPrice}"></td>
	<td class = "content"  th:unless="${cash.cashKind} == '지출'"></td>
	
	
	<td class = "content"  th:text = "${cash.cashPlace}"></td>
	<td class = "content"  th:text = "${cash.cashMemo}"></td>
	<td class = "content" ><a href = "#">삭제</a></td>
	<td class = "content" >수정</td>
	</tr>
</tbody>
</table>

<div>(수입+지출)합계: <span th:text="${cashKindSum}"></span></div>
		
		</div>
		<div class="col-sm-3">
		
		</div>
	</div>
</div>
</div>
</body>
</html>