
<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="apple-touch-icon" type="image/png" href="https://static.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png" />
<meta name="apple-mobile-web-app-title" content="CodePen">
<link rel="shortcut icon" type="image/x-icon" href="https://static.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico" />
<link rel="mask-icon" type="" href="https://static.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111" />
<link rel="stylesheet" href = "css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<title>Insert title here</title>
<style>
	div.gd-left{
	float: left;
	width: 100px;
	height: 100px;
	border: 1px solid #000000;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	}
	div.gd-clear{
	clear:both;
	margin-left: 10px;
	color: #FF0000; 
	}
	div.gd-title{
	height: 30px;
	background-color: gray; 
	}
	span.gd-blue{
	clear:both;
	margin-left: 10px;
	color: #0054FF;
	}
	span.gd-red{
	clear:both;
	margin-left: 10px;
	color: #FF0000;
	}
	div.gd-text{
	item-align: center;
	}
</style>
</head>
<body>
<div class="container-fleid">
	<div class="row">
		<div class="col-sm-3">
			<div th:include="/include/menu::sidemenu"></div> 
		</div>
		<div class="col-sm-6">
	<h1>home</h1>
	<h3 class = "gd-text" th:text="${#temporals.format(day, 'yyyy-MM')}" ></h3>
	<div>
	<a class="btn btn-primary" th:href="@{/getCashListByMonth(day=${day.plusMonths(-1)})}">이전</a>
	<a class="btn btn-primary" th:href="@{/getCashListByMonth(day=${day.plusMonths(+1)})}">다음</a>
	</div>
	<!--  <h3 th:text="${lastDay+'일'}"></h3> 일자를 나타냄--> 
	<div class = "gd-left gd-clear gd-title">일</div>
	<div class = "gd-left gd-title">월</div>
	<div class = "gd-left gd-title">화</div>
	<div class = "gd-left gd-title">수</div>
	<div class = "gd-left gd-title">목</div>
	<div class = "gd-left gd-title">금</div>
	<div class = "gd-left gd-title">토</div>
	<div 
          th:class="${index.index%7} ==0 ? 'gd-clear gd-left' : 'gd-left'" 
          th:each="i,index : ${#numbers.sequence(1, lastDay+(firstDayofWeek-1))}" >
          <div th:text="${i-(firstDayofWeek-1)} >0 ? ${i-(firstDayofWeek-1)} : ''"></div>
          <div th:each="dp : ${dayAndPriceList}">
             <span th:if="${dp.day}== ${i-(firstDayofWeek-1)}" >
                <span th:if="${dp.price}>=0">
                   <span th:text="'금일 합계 : '"></span>
                   <span th:class="gd-blue" th:text="${dp.price}+'원'"></span>
                </span>
                <span th:unless="${dp.price}>=0">
                   <span th:text="'금일 합계 : '"></span>
                   <span th:class="gd-red" th:text="${dp.price}+'원'"></span>
                </span>      
             </span>
             </div>
          </div>
          </div>
          <div class="col-sm-3">
          </div>
          </div>
	</div>
</body>
</html>