<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta charset="utf-8">
<link rel="apple-touch-icon" type="image/png" href="https://static.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png" />
<meta name="apple-mobile-web-app-title" content="CodePen">
<link rel="shortcut icon" type="image/x-icon" href="https://static.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico" />
<link rel="mask-icon" type="" href="https://static.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111" />
<link rel="stylesheet" href = "css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<style>
.extable{
	position:absolute;
	top:250px;
	left:200px;
	width:900px;
	height:337px;
	border: 1px;
	
}
table.tableset{
	border: 3px; 
}
th.dateTitle{
	border: 2px solid #D5D5D5;
	width: 800px;
	height: 30px;
	text-align: center;
	background: #EAEAEA;
	font-weight: bolder;
}
td.content{
	border: 2px solid #D5D5D5;
	width: 800px;
	height: 50px;
	text-align: center;
	background: #FFFFFF;
}
div.day{
	text-align: center;
	font-size: 30px;
}
a.insert{
	position:absolute;
	left:841px;
}
</style>
</head>
<body>
	<div class="container-fleid">
		<div class="row">
			<div class="col-sm-3">
				<div th:include="/include/adminmenu::sidemenu"></div> 
			</div>
			<div class="col-sm-6">
				<div class = "extable">
					<h1>update admin</h1>
					<table class = "tableset">
						<thead>
							<tr>
								<th class = "dateTitle">MemberId</th>
								<th class = "dateTitle">MemberName</th>
								<th class = "dateTitle">MemberAddress</th>
								<th class = "dateTitle">MemberPhone</th>
								<th class = "dateTitle">MemberEmail</th>
								<th class = "dateTitle">MemberDate</th>
								<th class = "dateTitle">관리자승급</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each = "member, index : ${list}" >
								<td class = "content" th:text = "${member.memberId}"></td>
								<td class = "content" th:text = "${member.memberName}"></td>
								<td class = "content" th:text = "${member.memberAddress}"></td>
								<td class = "content" th:text = "${member.memberPhone}"></td>
								<td class = "content" th:text = "${member.memberEmail}"></td>
								<td class = "content" th:text = "${member.memberDate}"></td>
								<td class = "content">
									<a th:href = "@{/updateAdmin(memberId=${member.memberId})}">관리자승급</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-sm-3">			
			</div>
		</div>
	</div>
</body>
</html>