<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<link href="css/login.css" rel="stylesheet" media="all">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
	$('#btn').click(function(){
		$('#loginForm').submit();
	});
});
</script>
</head>
<body>
	<a th:href = "@{/index}" class = "cashbook">가계부</a>
	<div class="box">

	<h1>로그인</h1>
		<form  method = "post" th:action="@{/login}" id = "loginForm">
			<input type="text" name="memberId" id="memberId" value = "member" placeholder="아이디"  required>            
			<input type="password" name = "memberPw" id="memberPw" value = "1234" placeholder="비밀번호" required>            
			<input type="button" value="로그인" id = "btn">            
				
			<br>
			<div th:if="${session.loginMember ==null}">
				<a th:href="@{/adminLogin}"  type = "button" class = "btn">관리자</a>
			</div>
			<br>
			<div>
				<a th:href="@{/findMemberId}"  >아이디를 모르겠어요</a>
			</div>
			<div>
				<a th:href="@{/findMemberPw}"  >비밀번호를 모르겠어요</a>
			</div>			
			<div>
				<span th:text="${msg}"></span>
			</div>
		</form>
	</div> 	
</body>
</html>