<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<style>
.centered { 
width: 400px; position: absolute; left: 50%; margin-left: -200px; 
}


</style>
<body><div class = "container">
		<div class = "centered">
        <h1 id = "Info">회원정보</h1>
        </div>
        <br>
        <br>
        <table  class="table">
      	<tr>
      		<td class="td-light"><div class = "name">사용자 이미지</div></td>      		
            <td><img  id="defaultImg" th:src="@{${'/upload/'+member.memberPic}}"></td>      		
       </tr> 
		<tr>
      		<td><div class = "name">아이디</div><td>      		
            <td><input type="text" th:value = "${member.memberId}" required></td>
       		<td><span id = "idHelper"></span></td>
       	</tr>             
       <tr>
      		<td><div class = "name">사용자 이름</div></td>      		
            <td><input type="text" th:value = "${member.memberName}" required></td>
       		<td><span id = "nameHelper"></span></td>
       </tr>
       <tr>
      		<td><div class = "name">전화번호</div>  </td>     		
            <td><input  type="text" th:value = "${member.memberPhone}"  required></td>
       		<td><span id = "phoneHelper"></span></td>
       </tr>
       <tr>
      		<td><div class = "name">주소</div></td>      		
            <td><input  type="text" th:value = "${member.memberAddress}" required></td>
       		<td><span id = "addressHelper"></span></td>
       </tr>
       <tr>
      		<td><div class = "name">이메일</div></td>   		
            <td><input  type="text" th:value = "${member.memberEmail}"  required></td>
       		<td><span id = "emailHelper"></span></td>
       </tr>
       <tr>
      		<td><div class = "name">가입날짜</div></td>     		
            <td><input  type="text" th:value = "${member.memberDate}"  required></td>
       		<td><span id = "emailHelper"></span></td>
       </tr>
       </table>                   
		 <div><a type = "button" th:href = "@{/removeMember(memberId=${loginMember.memberId})}"  >회원탈퇴</a></div>
		 <br>
		 <div><a type = "button" th:href = "@{/modifyMemberInfo(memberId=${loginMember.memberId})}"  >정보수정</a></div>
		 <br>
		 <div><a type = "button" href = "/home"  >홈으로</a></div>
        </div> 	
	
</body>
</html> 